certifi==2025.6.15
charset-normalizer==3.4.2
diskcache==5.6.3
filelock==3.18.0
fsspec==2025.5.1
hf-xet==1.1.5
huggingface-hub==0.33.1
idna==3.10
Jinja2==3.1.6
llama_cpp_python==0.3.9
MarkupSafe==3.0.2
numpy==2.3.1
packaging==25.0
python-dotenv==1.1.1
PyYAML==6.0.2
requests==2.32.4
tqdm==4.67.1
typing_extensions==4.14.0
urllib3==2.5.0
